[Main]
numpy==2.4.6
sympy==1.14.0
scipy==1.18.0
ppopt==1.6.12

[Dependencies]
contourpy==1.3.3
cycler==0.12.1
daqp==0.8.7
dill==0.4.1
fonttools==4.63.0
gurobipy==13.0.2
kiwisolver==1.5.0
llvmlite==0.48.0
matplotlib==3.11.1
mpmath==1.3.0
multiprocess==0.70.19
narwhals==2.24.0
numba==0.66.0
packaging==26.2
pathos==0.3.5
pillow==12.3.0
plotly==6.9.0
pox==0.3.7
ppft==1.7.8
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six==1.17.0
